<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<title> {% block title %}{% endblock %} </title>
{% endblock %}
</head>
    <body>
        {% block content %}
        {% endblock %}

        <footer>
            {% block footer%}
            &copy; copyright to me 2022.
            {% endblock %}
        </footer>
    </body>
</html>