{% extends 'base.html' %}
{% block body %}
<h1>{{ title }}</h1>

<form action="/potion" method="post">

    <label for="name">Name: </label><input type="text" placeholder="Name" name="name" required><br><br>

    <label for="price">Price: </label><input type="number" placeholder="Price" name="price" min="0" required><br><br>

    <label for="quantity">Quantity: </label><input type="number" placeholder="Qty" name="quantity" min="0" required><br><br>

    <input type="submit" value="Submit">

</form>

{% endblock %}